.slider {
    margin-bottom: $medium-margin-padding;
    overflow: hidden;

    &__gallery {
        position: relative;
        width: 400%;
        margin: 0;
        left: -100%;
        text-align: left;
        font-size: 0;
    }

    &__gallery-image {
        width: 25%; 
        float: left;
    }

    &__btn-trigger {
        position: absolute;
        cursor: pointer;
    }

    &__btn-prev-next {
        margin-top: 12%;
    }

    &__btn-prev-next--previous {
        left: 10%;
    }

    &__btn-prev-next--next {
        right: 10%;
    }

    &__btn-pager {
        margin-top: 25%;
    }

    &__btn-pager--one { 
        left: 47%;
    }

    &__btn-pager--two { 
        left: 49%;
    }

    &__btn-pager--three { 
        left: 51%;
    }
}