$dummy-banner-main-height: 300px;
$dummy-banner-sub-height: 100px;
$font-stack: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$hover-color: #E7B92F;
$medium-margin-padding: 20px;
$slider-image-width: 1400px;

body {
    margin: 0;
    font-family: $font-stack;

    a {
        color: initial;
        text-decoration: none;
    }
}

header, section, footer,
aside, nav, article, figure {
    display: block;
}

@import 'header';
@import 'slider';
@import 'content';
@import 'sidebar';
@import 'footer';
@import 'media-queries';